body {
    margin: 60px auto;
    width: 70%;
}
@font-face {
font-family: 'Montserrat-Light';
src: url milkal.github.io/css/fonts/Montserrat-Light.otf
src: url(Montserrat-Light.otf);
}
@font-face {
font-family: 'Montserrat-ExtraLight';
src: url milkal.github.io/css/fonts/Montserrat-ExtraLight.otf
src: url(Montserrat-ExtraLight.otf);
}
@font-face {
font-family: 'Montserrat-Regular';
src: url milkal.github.io/css/fonts/Montserrat-Regular.otf
src: url(Montserrat-Regular.otf);
}
nav ul, footer ul {
    font-family:'Montserrat-Light', 'Helvetica', 'Arial';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    color: #737373;
}
h1 {
    font-size: 3em;
    font-family:'Montserrat-Regular', 'Helvetice', 'Arial';
}
h2 {
    font-size: 1.5em;
    font-family:'Montserrat-Regular', 'Helvetica', 'Arial';
    color: #7C7C7C
}
p {
    font-size: 1.5em;
    font-family: 'Montserrat-Light', 'Helvetica', 'Arial';
    line-height: 1.4em;
    color: #7C7C7C;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

img {
  max-width: 100%;
}

.directory{
  text-align: center;
}

.menuimg{

}
.connor-grid {
  display: flex;
}
.connor-col {
  flex: 1;
}
@media (max-width: 700px) {
  .connor-col {
    flex-direction: column;
  }
}
.images{
  max-width: 75%;
  overflow: hidden;
}

.column{
  float: left;
  width: 40%;
  padding: 10px;
}

.column img {
  margin-top: 12px;
  width: 100%;
}

#row{
  content: " ";
  display: table;
  clear: both;
}

#digitalmenu{
  width: 50%;
  float: left;
  text-align: center;
  vertical-align: top;
}

#filmmenu{
  width: 50%;
  float: left;
  text-align: center;
  vertical-align: top;
}
