body {
    margin: 60px auto;
    width: 70%;
}
@font-face {
font-family: 'Montserrat-Light';
src: url milkal.github.io/css/fonts/Montserrat-Light.otf
src: url(Montserrat-Light.otf);
}
@font-face {
font-family: 'Montserrat-ExtraLight';
src: url milkal.github.io/css/fonts/Montserrat-ExtraLight.otf
src: url(Montserrat-ExtraLight.otf);
}
@font-face {
font-family: 'Montserrat-Regular';
src: url milkal.github.io/css/fonts/Montserrat-Regular.otf
src: url(Montserrat-Regular.otf);
}
nav ul, footer ul {
    font-family:'Montserrat-Light', 'Helvetica', 'Arial';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    font-style: italic;
}
h1 {
    font-size: 3em;
    font-family:'Montserrat-Regular', 'Helvetice', 'Arial';
}
h2 {
    font-size: 1.5em;
    font-family:'Montserrat-Regular', 'Helvetica', 'Arial';
    color: #7C7C7C
}
p {
    font-size: 1.5em;
    font-family: 'Montserrat-Light', 'Helvetica', 'Arial';
    line-height: 1.4em;
    color: #7C7C7C;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
